{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('style/grade.css') }}" />{% endblock %}
{% block title %}GoldenShark : Grade{% endblock %}

{% block body %}


<div class="containerGrade">

    {# GRADE VISITEUR #}
    {% for grade in grades %}
        <div class="grade
        {% if grade.priority < player.grade.priority %}
            ancien__Grade
        {% elseif grade.priority == player.grade.priority %}
            actuel__Grade
        {% endif %}
        ">
                <div class="logoGrade">logo</div>
                <div class="titreGrade">{{ grade.name }}</div>

                <div class="optionGrade">
                    <div>Compte en banque<br>
                        <span class="infoSup">interer : <strong>{{ grade.bankIntest }} %</strong> par semaine</span>
                    </div> 
                    {% if grade.permebank == true %}
                        <i class="fas fa-check logoGreen"></i>
                    {% else %}
                        <i class="fas fa-times logoRed"></i>
                    {% endif %}
                </div>


                <div class="optionGrade">
                    <div>Louer un terrain<br>
                    <span class="infoSup">Panneaux de location in game</span>
                    </div> 
                    <i class="fas fa-check logoGreen"></i>
                </div>


                <div class="optionGrade">
                    <div>Avoir un Job<br>
                    <span class="infoSup">In game : /jobs</span>
                    </div>
                    <i class="fas fa-check logoGreen"></i>
                </div>


                <div class="optionGrade">
                    <div>Travailler pour une entreprise</div>
                    {% if grade.prememployer == true %}
                        <i class="fas fa-check logoGreen"></i>
                    {% else %}
                        <i class="fas fa-times logoRed"></i>
                    {% endif %}
                </div>


                <div class="optionGrade">
                    <div>Créer une entreprise</div>
                    {% if grade.permEntreprise == true %}
                        <i class="fas fa-check logoGreen"></i>
                    {% else %}
                        <i class="fas fa-times logoRed"></i>
                    {% endif %}
                </div>


                <div class="optionGrade">
                    <div>Acheter un terrain</div> 
                    {% if grade.permLand == true %}
                        <i class="fas fa-check logoGreen"></i>
                    {% else %}
                        <i class="fas fa-times logoRed"></i>
                    {% endif %}
                </div>


                

                <button id="ButtonModal{{ grade.name }}">Plus d'information</button>
                <div id="Modal{{ grade.name }}">
                    <div class="titreModal">{{ grade.name }}</div>
                    <div class="contentModal">Information sur le grade {{ grade.name }}</div>
                </div>
                <script> var modal1 = newModal.initModal("ButtonModal{{ grade.name }}" , "Modal{{ grade.name }}");</script>
                <br>
                {% if grade.priority == player.grade.priority + 1 %}

                <button id="ButtonModal{{ grade.name }}Buy" class="buttonStyle-green">Devenir {{ grade.name }}</button>
                <div id="Modal{{ grade.name }}Buy">
                    <div class="titreModal">Devenir {{ grade.name }} pour <br><strong>{{ grade.price |number_format(2, '.', ' ') }} po</strong> </div>
                    <div class="contentModal">
 
                        {% if player.bankAcount.money < grade.price %}
                            Vous pouvez acheter le grade {{ grade.name }} pour <strong>{{ grade.price |number_format(2, '.', ' ') }} po</strong><br>
                            <div class="MessageRouge">Vous devez avoir {{ grade.price |number_format(2, '.', ' ') }} po sur votre compte en banque</div>
                        {% else %}
                            <a href="/grade/buy" class="buttonStyle buttonStyle-green">Achetez</a>
                        {% endif %}

                    </div>
                </div>
                <script> var modal1 = newModal.initModal("ButtonModal{{ grade.name }}Buy" , "Modal{{ grade.name }}Buy");</script>

                {% elseif grade.priority > player.grade.priority + 1  %}
                
                <div class="inactif infoGrade">Vous etes actuelement {{ grade.name }}</div>

                {% endif %}
            </div>

    {% endfor %}

</div>


{#
<div class="containerGrade">

    <div class="gradePrec">
        <div class="titre">Visiteur</div>
        <div class="iconInfo"><i class="fas fa-info-circle"></i></div>
    </div>

    <div class="arrow"><i class="fas fa-chevron-down"></i></div>

    <div class="gradeSelect">
        <div class="titre">Farmeur</div>
        <div class="iconInfo"><i class="fas fa-info-circle"></i></div>
    </div>

    <div class="arrow"><i class="fas fa-chevron-down"></i></div>

    <div class="grade">
        <div class="titre">Bourgeoi</div>
        <button class="buttonStyle-gold">Achetez pour 100 000 po</button>
        <div class="iconInfo"><i class="fas fa-info-circle"></i></div>
    </div>

    <div class="arrow"><i class="fas fa-chevron-down"></i></div>

    <div class="grade">
        <div class="titre">Entrepreneur</div>
        <div class="iconInfo"><i class="fas fa-info-circle"></i></div>
    </div>

    <div class="arrow"><i class="fas fa-chevron-down"></i></div>

    <div class="grade">
        <div class="titre">PDG</div>
        <div class="iconInfo"><i class="fas fa-info-circle"></i></div>
    </div>
    


</div>

#}

{% endblock %}
